In [1]:
import os
print(os.getcwd())

/Users/akshita/Desktop/FA 25/461/Atomic_Sentences/notebooks

In [2]:
import pandas as pd

# Notebook is in /notebooks, dataset is in /data
df = pd.read_csv("../data/train.csv")

In [3]:
df.shape

(989944, 3)

In [4]:
subset = df.sample(n = 250, random_state=42)
subset.head()

,complex_sentence,simple_sentence_1,simple_sentence_2
50437,After the very heavy '' Dragontown '' album Al...,After the very heavy '' Dragontown '' album Al...,"His place of birth , Detroit , where he accid..."
833339,The museum runs a library with photographic bo...,The museum runs a library with photographic bo...,There is also a small museum store that sells...
467398,Jakobshavn Isbræ is a major contributor to the...,Jakobshavn Isbræ is a major contributor to the...,Some 35 billion tonnes of icebergs calve off ...
984593,Wright also played the part of Mufasa in the o...,Wright also played the part of Mufasa in the o...,Another accomplishment of his was voicing Kro...
379040,"In 2007 , she wrote the piano piece '' The Kis...","In 2007 , she wrote the piano piece '' The Kis...",It was also used for Marks & Spencer 's advert .

In [5]:
subset.to_csv("../data/train_subset.csv", index=False)
print("subset saved")

subset saved