In [16]:
import pandas as pd
import re

df = pd.read_csv('../data/train_subset.csv')
df.head()

,complex_sentence,simple_sentence_1,simple_sentence_2
0,After the very heavy '' Dragontown '' album Al...,After the very heavy '' Dragontown '' album Al...,"His place of birth , Detroit , where he accid..."
1,The museum runs a library with photographic bo...,The museum runs a library with photographic bo...,There is also a small museum store that sells...
2,Jakobshavn Isbræ is a major contributor to the...,Jakobshavn Isbræ is a major contributor to the...,Some 35 billion tonnes of icebergs calve off ...
3,Wright also played the part of Mufasa in the o...,Wright also played the part of Mufasa in the o...,Another accomplishment of his was voicing Kro...
4,"In 2007 , she wrote the piano piece '' The Kis...","In 2007 , she wrote the piano piece '' The Kis...",It was also used for Marks & Spencer 's advert .

In [17]:
def clean_text(text):
    text = text.lower()  # lowercase
    text = re.sub(r'\s+', ' ', text)  # remove extra whitespace
    text = re.sub(r"[^a-zA-Z0-9\s\-\',\.;:\"\(\)]", '', text)  # keep letters, numbers, hyphens, quotes, punctuation
    text = text.strip()
    return text

In [18]:
# Apply cleaning
df["cleaned_text"] = df["complex_sentence"].apply(clean_text)

In [19]:
df.to_csv("../data/train_subset_cleaned.csv", index=False)
print("✅ Cleaned subset saved as train_subset_cleaned.csv")

✅ Cleaned subset saved as train_subset_cleaned.csv