In [2]:
import pandas as pd
df = pd.read_csv('../data/train_subset.csv')
df.head()

,complex_sentence,simple_sentence_1,simple_sentence_2
0,After the very heavy '' Dragontown '' album Al...,After the very heavy '' Dragontown '' album Al...,"His place of birth , Detroit , where he accid..."
1,The museum runs a library with photographic bo...,The museum runs a library with photographic bo...,There is also a small museum store that sells...
2,Jakobshavn Isbræ is a major contributor to the...,Jakobshavn Isbræ is a major contributor to the...,Some 35 billion tonnes of icebergs calve off ...
3,Wright also played the part of Mufasa in the o...,Wright also played the part of Mufasa in the o...,Another accomplishment of his was voicing Kro...
4,"In 2007 , she wrote the piano piece '' The Kis...","In 2007 , she wrote the piano piece '' The Kis...",It was also used for Marks & Spencer 's advert .